/*CSS para la index page*/

body {
    background-color: black;
}

@font-face {
    font-family: "Star Jedi";
    src: url("../fonts/SF\ Distant\ Galaxy\ Italic.ttf") format(opentype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AutoWide";
    src: url("../fonts/Audiowide-Regular.ttf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

#background-video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
}

#home_image {
    width: 9%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: "Star jedi";
}

.opciones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#titulo_general {
    font-family: "Star Jedi";
    color: rgb(255, 213, 0);
    font-size: 10rem;
    text-align: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#presentacion {
    position: relative;
    z-index: 1; 
    margin-top: 100vh;
}

.best_characters {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    margin: 0; 
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1; 
    padding: 10%;
}

.section_bestcharacter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative; 
    flex: 1;
    text-align: end; 
}

#DV_button, #LS_button, #M_button {
    padding: 3%;
    position: absolute;  
    color: white;
    font-family: "Star Jedi";
    border-radius: 10px;
    background-color: black;
    z-index: 2; 
}

#DV_button {
    box-shadow: 0px 0px 10px red;
    border: 4px solid red;
}

#LS_button {
    box-shadow: 0px 0px 10px rgb(0, 55, 255);
    border: 4px solid rgb(0, 55, 255);
}

#M_button {
    box-shadow: 0px 0px 10px rgb(28, 130, 0);
    border: 4px solid rgb(45, 128, 0);
}


.best_characters_image {
    max-width: 100%;
    height: auto;
    position: relative; 
    z-index: 1; 
}

.home_invitation {
    padding: 2%;
    color: white;
    background-color: rgb(31, 28, 28);
    margin: 2%;
    font-family: "Autowide";
    background-image: url("../photos/Fondo\ Estrellas-3.png");
}

#imagenes_home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#home_planet {
    width: 30%;
}

#introduccion_home {
    background-color: black;
}

h1 {
    margin-top: 4%;
    color: white;
    text-align: center;
    font-family: "Star Jedi";
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.5);
    }
}

#DV_button, #LS_button, #M_button {
    transition: transform 0.5s ease;
}

#DV_button:hover, #LS_button:hover, #M_button:hover {
    transform: scale(1.1);
}

#button_explorar {
    font-family: "Star Jedi";
    background-color: black;
    color: aliceblue;
    border: 2px solid yellow;
    border-radius: 3px;
    box-shadow: 0px 0px 20px yellow;
    width: 20%;
    margin-left: 40%;
    font-size: 1rem;
}

/*CSS para la characters page*/

.Barra_busqueda {
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: 4px solid red;
    box-shadow: 0px 0px 20px red;
}


.Personajes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px; 
    padding: 20px; 
    font-family: "AutoWide";
}

h3 {
    font-family: "Star Jedi";
}

.Personaje {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    background-color: rgb(22, 21, 21); 
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
}

.imagen_personajes {
    width: 40%; 
    border-radius: 10px; 
}

.Personajes_descripcion {
    width: 55%; 
    padding: 20px; 
    background-color: rgb(22, 21, 21); 
    border-radius: 10px;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
}

#filtro_Star_Wars {
    width: 40px;
    margin-top: auto;
}

.buscar {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fondo_personajes {
    background-image: url("../photos/Fondo\ personaje1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
    width: 100%;      
    display: flex;     
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card {
  position: relative;
  width: 430px;
  height: 294px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 230px;
  height: 294px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

#fondo_perfil_personaje {
    background-image: url("../photos/Fondo\ personaje2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

#info_personaje {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_personaje_info {
    width: 20%;
}
.boton_volver {
    width: 60px;
    padding: 20px;
}

#nombre_personaje {
    font-family: "Star Jedi";
}

#stats {
    font-family: "AutoWide";
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* CSS para la ships page */

#naves {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); 
    gap: 50px; 
    padding: 20px;
    color: white;
    font-family: "AutoWide";
}
.nave {
    background: #030025;
    border-radius: 12px;
    border: 3px solid yellow;
    box-shadow: 0 2px 16px rgb(221, 255, 0);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




